html, body {

    margin: 0rem ;
    padding: 0rem;
    box-sizing: border-box;
    position: relative;
    background-color: #f8efce;
  
    height: 100vh;

}

nav{
    display: flex;
    background-color: white;
    
    justify-content: center;
    height: 10vh;
    width: 100vw
    
}
.nav-content{
    display: flex;
    background-color: white;
    align-items: center;
    
    justify-content: space-around;
    height: 10vh;
    width: 100%
}

.first-section{
    
    
    display: flex;
    justify-content: center;
    align-items: center;


}

.cart-container{
    
    background-color: #f8efce ;
    height: auto;
    width: auto;
    padding: .3.5rem;
    border-radius: 50%;
}

a{
    text-decoration: none;
    color: black;
    margin: 1rem;
}



.cart-container{
    position: relative;
    margin-top: -.7rem;
}
.cart-count{
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-5px);
    
    padding: 2px;
    border-radius: 2px;
    font-size: 12px;
    


}


.body-container{
   width: 100vw;
  
}


.item-container{
    margin: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
   
    
    
}

.each-item{
    height: 350px;
    width: 400px;
    background-color: indianred;
    border-radius: 10px;
    text-align: center;
    

}

.flex-this{
    display: flex;
    justify-content: space-around;
}

.small-box{
    height: auto;
    width:  100%;
    background-color:wheat;
    border-radius: 10px;
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    

}

.on-action{
    display: flex;
    gap: 1rem;
}
.checkout-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
    width: 100vw;
    background-color: indianred;

}

.checkout-items{
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: auto;
    display: flex;
    gap: 0.5rem;
    
    
}

.clickable{
    border: none;
    font-size: 20px;
    border-radius: 2px;
}

.buy-button{
    border: none;
    border-radius: 3px;
    padding: 12px;
    cursor: pointer;
    background-color: #f8efce;
}

.proceed_btn{
    border: none;
    border-radius: 3px;
    padding: 12px;
    cursor: pointer;
    background-color: white;
}

@media (max-width: 400px) {
    
    .each-item{
        height: 30%;
        width: 40%;
        background-color: indianred;
        border-radius: 10px;
        text-align: center;
        
    
    }

    .each-item img{
        width: 100%;
    }

    .small-box{
        height: 100%;
        width:  100%;
        background-color:wheat;
        border-radius: 10px;
        display: flex;
        
        justify-content: space-around;
        align-items: center;
        
    
    }


    
    
}